* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 16px;
    --verde: #015a06;
    --gris:#4B4B4B;
    --negro:#000000;
    --azul: #002747;
    --blanco:#FFFFFF;
  }
  
  body {
    background-image: url('../images/background.jpg');
  }
  
  #root {
    width: 100%;
  }
  .text-nav-blanco{
    color:var(--blanco);
  }
  .text-nav-negro{
    color:var(--azul);
  }
  nav li{
    width: max-content;
  }
  .section-page{
    padding-top: 100px;
  }
  @media screen and (max-width: 60rem){ /* 950px */
    :root {
        font-size: 14px;
    }
  }